@media (max-width: 1024px) {
  .logo {
    width: 300px;
  }

  .navMenu {
    font-size: 1.6rem;
    gap: 1.2rem;
  }

  .hero {
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 1.5rem;
  }

  .cards-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  .header {
    position: relative;
    padding: 1rem 2rem;
  }

  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(200, 200, 200);
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1rem 0;
    gap: 1rem;
  }

  .navMenu.active {
    display: flex;
  }

  .burger {
    display: block;
  }
  .contact-us {
    padding: 3rem 1.5rem;
  }

  .contact-us h2 {
    font-size: 1.8rem;
  }
  .contact-us p {
    font-size: 1rem;
  }

  .contact-form {
    gap: 0.8rem;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 1.5rem;
    flex-direction: column;
    gap: 1rem;
  }

  .card img {
    height: auto;
  }

  .card-text {
    font-size: 0.9rem;
  }
}
.contact-us {
  padding: 2rem 1rem;
}
.contact-us h2 {
  font-size: 1.5rem;
}
.contact-us p {
  font-size: 0.95rem;
}
