* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  background-color: rgb(167, 165, 165);
  color: #000000;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.logo {
  width: 500px;
  height: auto;
  display: block;
  font-size: 2rem;
}
.navMenu {
  display: flex;
  gap: 2rem;
  font-weight: 300;
  font-size: 1.8rem;
  list-style-type: none;
}
nav a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  transform: all 0.4s ease-out;
}
nav a:hover {
  transform: scale(1.06);
}
/*hero*/
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  align-self: center;
  margin: 2rem;
}
.hero-image img {
  width: 100%;
  height: auto;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.hero-text {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  line-height: 1.5;
}

/*cards*/

section {
  display: flex;
  flex-direction: row;

  gap: 2rem;
  padding: 4rem;
}
.card-text {
  padding: 1.2rem;
  text-align: left;
}
.card img {
  width: 100%;
  height: 320px;

  display: block;
}
.price {
  color: darkred;
}
h3 {
  color: darkred;
}
.card-text button {
  padding: 0.5;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transform: all 0.4s ease-out;
}
.card-text button:hover {
  transform: scale(1.06);
}
.footer {
  font-size: 0.9rem;
  background-color: rgb(167, 165, 165);
}
.burger {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
}
